* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Work Sans", sans-serif;
}

header {
  width: 1280px;
  margin: auto;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
}
header .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .right a {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  padding: 0 20px;
}
header .right .sign-up {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #A259FF;
  padding: 19px 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
}
header .burger-btn {
  display: none;
}
@media (max-width: 1280px) {
  header {
    width: 834px;
    padding: 15px 50px;
  }
  header .left a img {
    width: 182px;
    height: 24px;
  }
  header .right {
    display: none;
  }
  header .burger-btn {
    display: initial;
  }
}
@media (max-width: 834px) {
  header {
    width: 375px;
    padding: 15px 30px;
  }
}

html {
  background-color: #2B2B2B;
}

.container {
  width: 1050px;
  margin: auto;
}

#hero-section {
  padding: 80px 0;
}
#hero-section .top {
  display: flex;
  justify-content: space-between;
}
#hero-section .top .left {
  width: 510px;
}
#hero-section .top .left h2 {
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#hero-section .top .left > p {
  font-size: 22px;
  font-weight: 400px;
  line-height: 35.2px;
  color: #FFFFFF;
}
#hero-section .top .right > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 510px;
  height: 401px;
  border-radius: 20px 20px 0px 0px;
}
#hero-section .top .right > div {
  padding: 20px;
  width: 510px;
  height: 109px;
  background-color: #3B3B3B;
  border-radius: 0px 0px 20px 20px;
  margin-top: -2px;
}
#hero-section .top .right > div h6 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#hero-section .top .right > div .animakid {
  display: flex;
  align-items: center;
  gap: 12px;
}
#hero-section .top .right > div .animakid > img {
  width: 24px;
  height: 24px;
  border-radius: 120px;
}
#hero-section .top .right > div .animakid > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
}
#hero-section .bottom {
  margin-top: -170px;
}
#hero-section .bottom button {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #A259FF;
  padding: 19px 50px;
  cursor: pointer;
  margin: 30px 0;
}
#hero-section .bottom .statistics {
  display: flex;
  gap: 30px;
}
#hero-section .bottom .statistics h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  color: #FFFFFF;
  font-family: "Space Mono", monospace;
}
#hero-section .bottom .statistics p {
  font-size: 23.99px;
  font-weight: 400;
  line-height: 38.384px;
  color: #FFFFFF;
}
@media (max-width: 1280px) {
  #hero-section .top .left {
    width: 330px;
  }
  #hero-section .top .left h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    color: #FFFFFF;
  }
  #hero-section .top .left > p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 22.4px;
    color: #FFFFFF;
  }
  #hero-section .top .right > img {
    width: 330px;
    height: 221px;
  }
  #hero-section .top .right > div {
    width: 330px;
  }
  #hero-section .bottom {
    margin-top: -100px;
  }
  #hero-section .bottom button {
    margin: 20px 0;
  }
  #hero-section .bottom .statistics h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    color: #FFFFFF;
  }
  #hero-section .bottom .statistics p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
  }
}
@media (max-width: 834px) {
  #hero-section {
    padding: 40px 0;
  }
  #hero-section .top {
    flex-direction: column;
    gap: 40px;
  }
  #hero-section .top .left {
    width: 315px;
  }
  #hero-section .top .left h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  #hero-section .top .right > img {
    width: 315px;
    height: 206px;
  }
  #hero-section .top .right > div {
    width: 315px;
  }
  #hero-section .bottom {
    margin-top: 0px;
  }
  #hero-section .bottom button {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #A259FF;
    padding: 19px 95.5px;
    cursor: pointer;
    margin: 40px 0;
  }
  #hero-section .bottom .statistics {
    justify-content: space-between;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 690px;
  }
}
@media (max-width: 834px) {
  .container {
    width: 315px;
  }
}