* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Work Sans", sans-serif;
}

header {
  width: 1280px;
  margin: auto;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
}
header .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .right a {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  padding: 0 20px;
}
header .right .sign-up {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #A259FF;
  padding: 19px 30px;
  cursor: pointer;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  transition: 0.5s;
}
header .right .sign-up:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
header .burger-btn {
  display: none;
}
header .hamburger-menu {
  position: absolute;
  top: -520px;
  right: 0;
  width: 315px;
  height: 490px;
  padding: 30px;
  display: none;
  flex-direction: column;
  background-color: #3B3B3B;
  border-radius: 20px;
  gap: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
  z-index: 1;
}
@media (max-width: 1280px) {
  header {
    width: 834px;
    padding: 15px 50px;
  }
  header .left a img {
    width: 182px;
    height: 24px;
  }
  header .right {
    display: none;
  }
  header .burger-btn {
    display: initial;
  }
  header .hamburger-menu {
    display: flex;
  }
  header .hamburger-menu .close {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: transparent;
  }
  header .hamburger-menu a {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }
  header .hamburger-menu a > img {
    width: 30px;
  }
  header .hamburger-menu .logo img {
    width: 182px;
    height: 24px;
    margin-bottom: 20px;
  }
  header .hamburger-menu .sign-up {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #A259FF;
    padding: 10px 30px;
    cursor: pointer;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: #FFFFFF;
    transition: 0.5s;
    margin-top: 80px;
  }
  header .hamburger-menu .sign-up:hover {
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  }
}
@media (max-width: 834px) {
  header {
    width: 375px;
    padding: 15px 30px;
  }
  header .hamburger-menu {
    margin: auto;
    right: auto;
  }
}

footer {
  padding: 40px 0;
  background-color: #3B3B3B;
}
footer .top {
  display: flex;
  justify-content: space-between;
  width: 988px;
  margin: auto;
}
footer .top .group .logo img {
  margin-bottom: 25px;
}
footer .top .group p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  color: #CCCCCC;
  margin-bottom: 20px;
}
footer .top .group .a-tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .top .group .a-tags a {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  color: #CCCCCC;
}
footer .top .group h5 {
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  color: #FFFFFF;
  font-family: Space Mono;
  margin-bottom: 25px;
}
footer .top .group .input-button {
  display: inline-block;
  position: relative;
}
footer .top .group .input-button input {
  width: 420px;
  height: 60px;
  padding: 19px 191px 19px 20px;
  border-radius: 20px;
  outline: none;
}
footer .top .group .input-button input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  color: #2B2B2B;
}
footer .top .group .input-button input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  color: #2B2B2B;
}
footer .top .group .input-button button {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #A259FF;
  padding: 19px 50px;
  cursor: pointer;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  transition: 0.5s;
}
footer .top .group .input-button button img {
  display: none;
}
footer .top .group .input-button button:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
footer .top .group .input-button .toast-container {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.5s;
  z-index: 1;
}
footer .top .group .input-button .toast-container .toast {
  width: 310px;
  height: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  border-bottom: 5px solid #A259FF;
}
footer .top .group .input-button .toast-container .toast-success {
  color: #3B3B3B;
  background-color: #FFFFFF;
}
footer .top .group .input-button .toast-container .toast-error {
  background-color: red;
  color: white;
}
footer .bottom {
  margin: auto;
  width: 1050px;
}
footer .bottom div {
  height: 1px;
  background-color: #858584;
  margin: 30px 0 20px;
}
footer .bottom p {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #FFFFFF;
  color: #CCCCCC;
}
@media (max-width: 1280px) {
  footer .top {
    width: 690px;
    flex-direction: column;
    gap: 30px;
  }
  footer .top .group .logo img {
    margin-bottom: 25px;
  }
  footer .top .group p {
    width: 690px !important;
  }
  footer .top .group h5 {
    margin-bottom: 20px;
  }
  footer .bottom {
    width: 690px;
  }
  footer .bottom div {
    margin: 49px 0 20px;
  }
}
@media (max-width: 834px) {
  footer .top {
    width: 315px;
  }
  footer .top .group p {
    width: 315px !important;
  }
  footer .top .group .input-button input {
    width: 315px;
    height: 46px;
    padding: 12px 20px;
    margin-bottom: 16px;
  }
  footer .top .group .input-button input::-moz-placeholder {
    text-transform: capitalize;
  }
  footer .top .group .input-button input::placeholder {
    text-transform: capitalize;
  }
  footer .top .group .input-button button {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #A259FF;
    padding: 12px 102px;
    cursor: pointer;
    justify-content: center;
    position: static;
  }
  footer .top .group .input-button button img {
    display: initial;
  }
  footer .bottom {
    width: 315px;
  }
  footer .bottom div {
    margin: 30px 0 20px;
  }
}

html {
  background-color: #2B2B2B;
}

.container {
  width: 1050px;
  margin: auto;
}

#hero-section {
  padding: 80px 0;
}
#hero-section .top {
  display: flex;
  justify-content: space-between;
}
#hero-section .top .left {
  width: 510px;
}
#hero-section .top .left h2 {
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#hero-section .top .left > p {
  font-size: 22px;
  font-weight: 400px;
  line-height: 35.2px;
  color: #FFFFFF;
}
#hero-section .top .right {
  cursor: pointer;
}
#hero-section .top .right > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 510px;
  height: 401px;
  border-radius: 20px 20px 0px 0px;
}
#hero-section .top .right > div {
  padding: 20px;
  width: 510px;
  height: 109px;
  background-color: #3B3B3B;
  border-radius: 0px 0px 20px 20px;
  margin-top: -2px;
}
#hero-section .top .right > div h6 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#hero-section .top .right > div .animakid {
  display: flex;
  align-items: center;
  gap: 12px;
}
#hero-section .top .right > div .animakid > img {
  width: 24px;
  height: 24px;
  border-radius: 120px;
}
#hero-section .top .right > div .animakid > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
}
#hero-section .bottom {
  margin-top: -170px;
}
#hero-section .bottom button {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #A259FF;
  padding: 19px 50px;
  cursor: pointer;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  transition: 0.5s;
  margin: 30px 0;
}
#hero-section .bottom button:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
#hero-section .bottom .statistics {
  display: flex;
  gap: 30px;
}
#hero-section .bottom .statistics div {
  width: 150px;
  height: 77px;
}
#hero-section .bottom .statistics div h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  color: #FFFFFF;
  font-family: "Space Mono", monospace;
}
#hero-section .bottom .statistics div p {
  font-size: 23.99px;
  font-weight: 400;
  line-height: 38.384px;
  color: #FFFFFF;
}
@media (max-width: 1280px) {
  #hero-section .top .left {
    width: 330px;
  }
  #hero-section .top .left h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    color: #FFFFFF;
  }
  #hero-section .top .left > p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 22.4px;
    color: #FFFFFF;
  }
  #hero-section .top .right > img {
    width: 330px;
    height: 221px;
  }
  #hero-section .top .right > div {
    width: 330px;
  }
  #hero-section .bottom {
    margin-top: -100px;
  }
  #hero-section .bottom button {
    margin: 20px 0;
  }
  #hero-section .bottom .statistics div {
    width: 90px;
    height: 57px;
  }
  #hero-section .bottom .statistics div h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    color: #FFFFFF;
  }
  #hero-section .bottom .statistics div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
  }
}
@media (max-width: 834px) {
  #hero-section {
    padding: 40px 0;
  }
  #hero-section .top {
    flex-direction: column;
    gap: 40px;
  }
  #hero-section .top .left {
    width: 315px;
  }
  #hero-section .top .left h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  #hero-section .top .right > img {
    width: 315px;
    height: 206px;
  }
  #hero-section .top .right > div {
    width: 315px;
  }
  #hero-section .bottom {
    margin-top: 0px;
  }
  #hero-section .bottom button {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #A259FF;
    padding: 19px 95.5px;
    cursor: pointer;
    justify-content: center;
    margin: 40px 0;
  }
  #hero-section .bottom .statistics div {
    width: 85px;
  }
}

#trending-collection-section {
  padding: 80px 0;
}
#trending-collection-section h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: #FFFFFF;
}
#trending-collection-section > p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
  margin: 10px 0 60px;
}
#trending-collection-section .bottom {
  display: flex;
  gap: 30px;
}
#trending-collection-section .bottom .group > img:first-child {
  width: 330px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid transparent;
}
#trending-collection-section .bottom .group > img:first-child:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
#trending-collection-section .bottom .group .row {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}
#trending-collection-section .bottom .group .row img:first-child, #trending-collection-section .bottom .group .row img:nth-child(2) {
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid transparent;
}
#trending-collection-section .bottom .group .row img:first-child:hover, #trending-collection-section .bottom .group .row img:nth-child(2):hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
#trending-collection-section .bottom .group .row .rectangle {
  color: #FFFFFF;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A259FF;
  border-radius: 20px;
  width: 100px;
  transition: 0.5s;
  cursor: pointer;
}
#trending-collection-section .bottom .group .row .rectangle:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
#trending-collection-section .bottom .group p {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
}
#trending-collection-section .bottom .group .mrfox {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  cursor: pointer;
}
#trending-collection-section .bottom .group .mrfox img {
  width: 24px;
  border-radius: 100px;
}
#trending-collection-section .bottom .group .mrfox h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
}
#trending-collection-section .bottom .group:nth-child(2) > .row .rectangle:last-child {
  display: none;
}
@media (max-width: 1280px) {
  #trending-collection-section {
    padding: 40px 0;
  }
  #trending-collection-section h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
  }
  #trending-collection-section > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
    margin: 10px 0 40px;
  }
  #trending-collection-section .bottom .group:last-child {
    display: none;
  }
  #trending-collection-section .bottom .group:nth-child(2) > .row .rectangle:nth-child(3) {
    display: none;
  }
  #trending-collection-section .bottom .group:nth-child(2) > .row .rectangle:last-child {
    display: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 834px) {
  #trending-collection-section .bottom .group:nth-child(2) {
    display: none;
  }
  #trending-collection-section .bottom .group img {
    width: 315px;
  }
  #trending-collection-section .bottom .group .row img {
    width: 95px;
  }
  #trending-collection-section .bottom .group .row .rectangle {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    color: #FFFFFF;
    width: 95px;
  }
  #trending-collection-section .bottom .group p {
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    color: #FFFFFF;
  }
  #trending-collection-section .bottom .group .mrfox {
    display: flex;
    gap: 12px;
    margin-top: 10px;
  }
  #trending-collection-section .bottom .group .mrfox img {
    width: 24px;
    border-radius: 100px;
  }
  #trending-collection-section .bottom .group .mrfox h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
  }
  #trending-collection-section .bottom .group:nth-child(2) > .row .rectangle:last-child {
    display: none;
  }
}

#top-rated-artists-section {
  padding: 80px 0;
}
#top-rated-artists-section .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
#top-rated-artists-section .top .left h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: #FFFFFF;
}
#top-rated-artists-section .top .left > p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
  margin-top: 10px;
}
#top-rated-artists-section .top .right {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: transparent;
  padding: 19px 50px;
  cursor: pointer;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  border: 2px solid #A259FF;
}
#top-rated-artists-section .top .right:hover {
  border-top: 2px solid #cc4499;
  border-bottom: 2px solid #aa00ff;
  border-left: 2px solid #663dff;
  border-right: 2px solid #663dff;
}
#top-rated-artists-section .bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#top-rated-artists-section .bottom .card {
  position: relative;
  width: 240px;
  height: 238px;
  background-color: #3B3B3B;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 0;
  flex-direction: column;
  gap: 20px;
  border: 2px solid transparent;
  transition: 0.5s;
}
#top-rated-artists-section .bottom .card:hover {
  border-color: #A259FF;
  transform: scale(1.1);
}
#top-rated-artists-section .bottom .card > p {
  font-family: "Space Mono", monospace;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2B2B2B;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  color: #858584;
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
#top-rated-artists-section .bottom .card img {
  width: 120px;
  border-radius: 100px;
}
#top-rated-artists-section .bottom .card .text h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 5px;
}
#top-rated-artists-section .bottom .card .text .sales {
  display: flex;
  gap: 10px;
}
#top-rated-artists-section .bottom .card .text .sales p:first-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  color: #858584 !important;
}
#top-rated-artists-section .bottom .card .text .sales p:last-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  font-family: "Space Mono", monospace;
}
@media (max-width: 1280px) {
  #top-rated-artists-section {
    padding: 40px 0;
  }
  #top-rated-artists-section .top {
    margin-bottom: 40px;
  }
  #top-rated-artists-section .top .left h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
  }
  #top-rated-artists-section .top .left > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
    width: 343px;
  }
  #top-rated-artists-section .bottom {
    gap: 20px;
  }
  #top-rated-artists-section .bottom .card {
    width: 330px;
    height: 100px;
    display: flex;
    flex-direction: row;
  }
  #top-rated-artists-section .bottom .card > p {
    top: 12px;
    left: 12px;
  }
  #top-rated-artists-section .bottom .card img {
    width: 60px;
  }
  #top-rated-artists-section .bottom .card .text h5 {
    text-align: start;
  }
  #top-rated-artists-section .bottom .card:nth-child(7), #top-rated-artists-section .bottom .card:nth-child(8), #top-rated-artists-section .bottom .card:nth-child(9), #top-rated-artists-section .bottom .card:nth-child(10), #top-rated-artists-section .bottom .card:nth-child(11), #top-rated-artists-section .bottom .card:nth-child(12) {
    display: none;
  }
}
@media (max-width: 834px) {
  #top-rated-artists-section {
    padding: 40px 0;
  }
  #top-rated-artists-section .top .left p {
    width: 315px;
  }
  #top-rated-artists-section .top .right {
    margin-bottom: -720px;
    margin-left: -350px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 19px 83px;
    cursor: pointer;
    justify-content: center;
  }
  #top-rated-artists-section .bottom .card:nth-child(6) {
    display: none;
  }
  #top-rated-artists-section .bottom .card {
    width: 315px;
  }
}

#browse-categories-section {
  padding: 80px 0;
}
#browse-categories-section h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: #FFFFFF;
  margin-bottom: 60px;
}
#browse-categories-section .group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#browse-categories-section .group .card {
  cursor: pointer;
  transition: 0.8s;
}
#browse-categories-section .group .card:hover {
  transform: scale(1.1);
}
#browse-categories-section .group .card:hover img:last-child {
  display: none;
}
#browse-categories-section .group .card:hover .blur {
  display: none;
}
#browse-categories-section .group .card .top {
  position: relative;
}
#browse-categories-section .group .card .top img:first-child {
  width: 240px;
  height: 240px;
  border-radius: 20px 20px 0px 0px;
}
#browse-categories-section .group .card .top .blur {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  top: 0;
  width: 240px;
  height: 240px;
  border-radius: 20px 20px 0px 0px;
}
#browse-categories-section .group .card .top img:last-child {
  width: 100px;
  position: absolute;
  top: 70px;
  left: 70px;
}
#browse-categories-section .group .card .bottom {
  width: 240px;
  height: 76px;
  padding: 20px 30px 25px;
  border-radius: 0px 0px 20px 20px;
  background-color: #3B3B3B;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
  margin-top: -3px;
}
@media (max-width: 1280px) {
  #browse-categories-section {
    padding: 40px 0;
  }
  #browse-categories-section h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  #browse-categories-section .group .card .top img:first-child {
    width: 150px;
    height: 142px;
  }
  #browse-categories-section .group .card .top .blur {
    width: 150px;
    height: 142px;
  }
  #browse-categories-section .group .card .top img:last-child {
    width: 80px;
    top: 31px;
    left: 35px;
  }
  #browse-categories-section .group .card .bottom {
    width: 150px;
    height: 89px;
    padding: 20px 20px 25px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: #FFFFFF;
    margin-top: -3px;
  }
  #browse-categories-section .group .card:nth-child(1) .bottom, #browse-categories-section .group .card:nth-child(2) .bottom, #browse-categories-section .group .card:nth-child(3) .bottom, #browse-categories-section .group .card:nth-child(4) .bottom {
    height: 67px;
  }
}
@media (max-width: 834px) {
  #browse-categories-section {
    padding-top: 130px;
  }
  #browse-categories-section .group {
    gap: 20px;
  }
  #browse-categories-section .group .card .top img:first-child {
    width: 147px;
  }
  #browse-categories-section .group .card .top .blur {
    width: 147px;
  }
  #browse-categories-section .group .card .top img:last-child {
    left: 35px;
  }
  #browse-categories-section .group .card .bottom {
    width: 147px;
  }
}

#discover-more-section {
  padding: 80px 0;
}
#discover-more-section .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
#discover-more-section .top .left h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: #FFFFFF;
}
#discover-more-section .top .left > p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
  margin-top: 10px;
  text-transform: capitalize;
}
#discover-more-section .top .right {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: transparent;
  padding: 19px 50px;
  cursor: pointer;
  justify-content: center;
  border: 2px solid #A259FF;
}
#discover-more-section .top .right:hover {
  border-top: 2px solid #cc4499;
  border-bottom: 2px solid #aa00ff;
  border-left: 2px solid #663dff;
  border-right: 2px solid #663dff;
}
#discover-more-section .bottom {
  display: flex;
  gap: 30px;
}
#discover-more-section .bottom .group {
  cursor: pointer;
  transition: 0.5s;
}
#discover-more-section .bottom .group:hover {
  transform: scale(1.05);
}
#discover-more-section .bottom .group > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 330px;
  height: 296px;
  border-radius: 20px 20px 0px 0px;
}
#discover-more-section .bottom .group .texts {
  width: 330px;
  height: 173px;
  padding: 20px 30px 25px;
  background-color: #3B3B3B;
  border-radius: 0px 0px 20px 20px;
  margin-top: -2px;
}
#discover-more-section .bottom .group .texts h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
}
#discover-more-section .bottom .group .texts .moon-dancer {
  display: flex;
  gap: 12px;
  margin: 5px 0 25px;
}
#discover-more-section .bottom .group .texts .moon-dancer img {
  width: 24px;
  border-radius: 120px;
}
#discover-more-section .bottom .group .texts .moon-dancer h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  font-family: Space Mono;
}
#discover-more-section .bottom .group .texts .statistics {
  font-family: Space Mono;
}
#discover-more-section .bottom .group .texts .statistics .price {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
#discover-more-section .bottom .group .texts .statistics .price p {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #FFFFFF;
  color: #858584;
  font-family: Space Mono;
}
#discover-more-section .bottom .group .texts .statistics .eth {
  display: flex;
  justify-content: space-between;
}
#discover-more-section .bottom .group .texts .statistics .eth p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
}
@media (max-width: 1280px) {
  #discover-more-section {
    padding: 40px 0 80px;
  }
  #discover-more-section .top {
    margin-bottom: 40px;
  }
  #discover-more-section .top .left h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
  }
  #discover-more-section .top .left > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
    text-transform: none;
  }
  #discover-more-section .bottom {
    gap: 30px;
  }
  #discover-more-section .bottom .group > img {
    height: 295px;
  }
  #discover-more-section .bottom .group:last-child {
    display: none;
  }
}
@media (max-width: 834px) {
  #discover-more-section {
    padding: 40px 0 60px;
  }
  #discover-more-section .top .right {
    margin-bottom: -1390px;
    margin-left: -350px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 19px 114px;
    cursor: pointer;
    justify-content: center;
  }
  #discover-more-section .bottom {
    gap: 20px;
    flex-direction: column;
  }
  #discover-more-section .bottom .group > img {
    width: 315px;
    height: 238px;
  }
  #discover-more-section .bottom .group .texts {
    width: 315px;
    height: 164px;
    padding: 20px 20px 25px;
  }
  #discover-more-section .bottom .group .texts .statistics .eth p {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    color: #FFFFFF;
  }
  #discover-more-section .bottom .group:last-child {
    display: initial;
  }
}

#nft-info-section {
  position: relative;
  display: flex;
  justify-content: center;
}
#nft-info-section img {
  width: 100%;
  height: 640px;
  -o-object-fit: cover;
     object-fit: cover;
}
#nft-info-section .gradient {
  width: 100%;
  height: 640px;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
}
#nft-info-section .content {
  position: absolute;
  bottom: 60px;
}
#nft-info-section .content button:first-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #3B3B3B;
  padding: 10px 20px;
  cursor: pointer;
  justify-content: center;
}
#nft-info-section .content button:first-child img {
  height: 24px;
  border-radius: 120px;
}
#nft-info-section .content .average {
  margin: 30px 0 -65px;
  display: flex;
  justify-content: space-between;
}
#nft-info-section .content .average h2 {
  font-size: 51px;
  font-weight: 600;
  line-height: 56.1px;
  color: #FFFFFF;
}
#nft-info-section .content .average .countdown {
  width: 295px;
  height: 147px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#nft-info-section .content .average .countdown p {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #FFFFFF;
  margin-bottom: 10px;
  font-family: Space Mono;
}
#nft-info-section .content .average .countdown .bottom {
  display: flex;
  justify-content: space-between;
}
#nft-info-section .content .average .countdown .bottom .timer {
  display: flex;
  flex-direction: column;
  gap: 5;
}
#nft-info-section .content .average .countdown .bottom .timer-digit {
  font-size: 38px;
  font-weight: 700;
  line-height: 45.6px;
  color: #FFFFFF;
  font-family: Space Mono;
}
#nft-info-section .content .average .countdown .bottom .timer-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #FFFFFF;
  font-family: Space Mono;
}
#nft-info-section .content .average .countdown .bottom .timer-separator {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  color: #FFFFFF;
  margin: 0 10px;
}
#nft-info-section .content button:last-child {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #2B2B2B;
  background-color: #FFFFFF;
  padding: 19px 50px;
  cursor: pointer;
  justify-content: center;
  border: 3px solid transparent;
}
#nft-info-section .content button:last-child img {
  height: 20px;
  width: 20px;
}
#nft-info-section .content button:last-child:hover {
  border-color: #2B2B2B;
}
@media (max-width: 1280px) {
  #nft-info-section img {
    height: 630px;
  }
  #nft-info-section .gradient {
    height: 630px;
  }
  #nft-info-section .content .average h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    color: #FFFFFF;
  }
}
@media (max-width: 834px) {
  #nft-info-section {
    margin-top: 105px;
  }
  #nft-info-section img {
    height: 593px;
  }
  #nft-info-section .gradient {
    height: 593px;
  }
  #nft-info-section .content {
    bottom: 40px;
  }
  #nft-info-section .content .average {
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
  }
  #nft-info-section .content .average .countdown {
    width: 315px;
  }
  #nft-info-section .content button:last-child {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #2B2B2B;
    background-color: #FFFFFF;
    padding: 19px 50px;
    cursor: pointer;
    justify-content: center;
    width: 315px;
  }
}

#how-it-works-section {
  padding: 80px 0;
}
#how-it-works-section .top {
  margin-bottom: 48px;
}
#how-it-works-section .top h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#how-it-works-section .top > p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
}
#how-it-works-section .bottom {
  display: flex;
  gap: 30px;
}
#how-it-works-section .bottom .card {
  width: 330px;
  height: 439px;
  background-color: #3B3B3B;
  border-radius: 20px;
  padding: 10px 30px 30px;
  display: flex;
  align-items: center;
  gap: 0;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s;
}
#how-it-works-section .bottom .card:hover img {
  transform: scale(1.2);
}
#how-it-works-section .bottom .card .text h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin: 20px 0 10px;
  text-align: center;
}
#how-it-works-section .bottom .card .text > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  width: 270px;
  text-align: center;
}
@media (max-width: 1280px) {
  #how-it-works-section {
    padding: 40px 0;
  }
  #how-it-works-section .top {
    margin-bottom: 40px;
  }
  #how-it-works-section .top h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
  }
  #how-it-works-section .top > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
  }
  #how-it-works-section .bottom .card {
    width: 210px;
    height: 320px;
    padding: 10px 20px 30px;
  }
  #how-it-works-section .bottom .card img {
    width: 160px;
  }
  #how-it-works-section .bottom .card .text h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: #FFFFFF;
    text-transform: none;
  }
  #how-it-works-section .bottom .card .text > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #FFFFFF;
    width: 170px;
  }
}
@media (max-width: 834px) {
  #how-it-works-section .bottom {
    flex-direction: column;
    gap: 20px;
  }
  #how-it-works-section .bottom .card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 315px;
    height: 157px;
    padding: 20px;
  }
  #how-it-works-section .bottom .card img {
    width: 100px;
  }
  #how-it-works-section .bottom .card .text h5 {
    text-align: start;
  }
  #how-it-works-section .bottom .card .text > p {
    width: 155px;
    margin: 0 0 10px;
    text-align: start;
  }
}

#subscribe-section {
  padding: 40px 0 80px;
}
#subscribe-section .rectangle {
  width: 1050px;
  height: 430px;
  padding: 60px;
  border-radius: 20px;
  background-color: #3B3B3B;
  display: flex;
  align-items: center;
  gap: 80px;
}
#subscribe-section .rectangle .left img {
  width: 425px;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
#subscribe-section .rectangle .right h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: #FFFFFF;
}
#subscribe-section .rectangle .right > p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin: 10px 0 40px;
}
#subscribe-section .rectangle .right .input-button {
  display: inline-block;
  position: relative;
}
#subscribe-section .rectangle .right .input-button input {
  width: 425px;
  height: 60px;
  padding: 19px 223px 19px 20px;
  border-radius: 20px;
  outline: none;
}
#subscribe-section .rectangle .right .input-button input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  color: #2B2B2B;
}
#subscribe-section .rectangle .right .input-button input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  color: #2B2B2B;
}
#subscribe-section .rectangle .right .input-button button {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #2B2B2B;
  background-color: #A259FF;
  padding: 19px 50px;
  cursor: pointer;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  transition: 0.5s;
}
#subscribe-section .rectangle .right .input-button button:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
#subscribe-section #toast-container {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.5s;
  z-index: 1;
}
#subscribe-section #toast-container .toast {
  width: 310px;
  height: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  border-bottom: 5px solid #A259FF;
}
#subscribe-section #toast-container .toast-success {
  color: #3B3B3B;
  background-color: #FFFFFF;
}
#subscribe-section #toast-container .toast-error {
  background-color: red;
  color: white;
}
@media (max-width: 1280px) {
  #subscribe-section .rectangle {
    width: 690px;
    height: 360px;
    padding: 40px 30px;
    gap: 30px;
  }
  #subscribe-section .rectangle .left img {
    width: 300px;
    height: 280px;
  }
  #subscribe-section .rectangle .right h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
  }
  #subscribe-section .rectangle .right > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
    text-transform: none;
  }
  #subscribe-section .rectangle .right .input-button input {
    width: 300px;
    height: 46px;
    padding: 16px 20px;
  }
  #subscribe-section .rectangle .right .input-button input::-moz-placeholder {
    text-transform: capitalize;
  }
  #subscribe-section .rectangle .right .input-button input::placeholder {
    text-transform: capitalize;
  }
  #subscribe-section .rectangle .right .input-button button {
    padding: 12px 94.5px;
    position: static;
    margin-top: 16px;
  }
}
@media (max-width: 834px) {
  #subscribe-section {
    padding: 40px 0;
  }
  #subscribe-section .rectangle {
    width: 315px;
    height: 565px;
    padding: 0;
    flex-direction: column;
    background-color: transparent;
  }
  #subscribe-section .rectangle .left img {
    width: 315px;
    height: 255px;
  }
  #subscribe-section .rectangle .right .input-button input {
    width: 315px;
    padding: 12px 20px;
  }
  #subscribe-section .rectangle .right .input-button button {
    padding: 12px 102.5px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 690px;
  }
}
@media (max-width: 834px) {
  .container {
    width: 315px;
  }
}
#cover-section img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1280px) {
  #cover-section img {
    height: 280px;
  }
}
@media (max-width: 834px) {
  #cover-section img {
    height: 250px;
  }
}

#artist-info-section {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#artist-info-section .img img {
  width: 120px;
  border: 2px solid #2B2B2B;
  border-radius: 20px;
  margin-top: -60px;
  margin-bottom: 10px;
  cursor: pointer;
}
#artist-info-section .animakid {
  display: flex;
  justify-content: space-between;
}
#artist-info-section .animakid h2 {
  font-size: 51px;
  font-weight: 600;
  line-height: 56.1px;
  color: #FFFFFF;
}
#artist-info-section .animakid .buttons {
  display: flex;
  gap: 20px;
}
#artist-info-section .animakid .buttons button:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #A259FF;
  padding: 19px 20.5px;
  cursor: pointer;
  justify-content: center;
  transition: 0.5s;
}
#artist-info-section .animakid .buttons button:first-child img {
  height: 20px;
}
#artist-info-section .animakid .buttons button:first-child:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
#artist-info-section .animakid .buttons button:last-child {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: transparent;
  padding: 19px 30px;
  cursor: pointer;
  justify-content: center;
  border: 2px solid #A259FF;
}
#artist-info-section .animakid .buttons button:last-child img {
  height: 20px;
}
#artist-info-section .animakid .buttons button:last-child:hover {
  border-top: 2px solid #cc4499;
  border-bottom: 2px solid #aa00ff;
  border-left: 2px solid #663dff;
  border-right: 2px solid #663dff;
}
#artist-info-section .statistics {
  display: flex;
  gap: 20px;
}
#artist-info-section .statistics .number {
  width: 157px;
}
#artist-info-section .statistics .number h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  color: #FFFFFF;
  font-family: Space Mono;
}
#artist-info-section .statistics .number h6 {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
}
#artist-info-section .text p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
  text-transform: capitalize;
}
#artist-info-section .text h5 {
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  color: #FFFFFF;
  color: #858584;
  font-family: Space Mono;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #artist-info-section {
    padding-bottom: 30px;
  }
  #artist-info-section .img img {
    margin-bottom: 0px;
  }
  #artist-info-section .animakid {
    flex-direction: column;
    gap: 30px;
  }
  #artist-info-section .animakid h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    color: #FFFFFF;
  }
  #artist-info-section .statistics .number h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    color: #FFFFFF;
  }
  #artist-info-section .statistics .number h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
  }
  #artist-info-section .text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
    text-transform: none;
  }
  #artist-info-section .text h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
    color: #858584;
    margin-bottom: 10px;
  }
}
@media (max-width: 834px) {
  #artist-info-section .img {
    display: flex;
    justify-content: center;
  }
  #artist-info-section .animakid h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: #FFFFFF;
  }
  #artist-info-section .animakid .buttons {
    display: flex;
    flex-direction: column;
  }
  #artist-info-section .animakid .buttons button:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #A259FF;
    padding: 19px 85px;
    cursor: pointer;
    justify-content: center;
  }
  #artist-info-section .animakid .buttons button:last-child {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 19px 115px;
    cursor: pointer;
    justify-content: center;
  }
  #artist-info-section .statistics .number {
    width: 91px;
  }
}

#line {
  width: 100%;
  height: 1px;
  background-color: #3B3B3B;
}

#tabs {
  display: flex;
}
#tabs .tab {
  width: 50%;
}
#tabs .tab h5 {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
  text-align: center;
  padding: 14.5px 0;
}

#nft-cards-section {
  background-color: #3B3B3B;
}
#nft-cards-section > div {
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#nft-cards-section > div .group {
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
#nft-cards-section > div .group:hover {
  transform: scale(1.05);
}
#nft-cards-section > div .group > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 330px;
  height: 296px;
  border-radius: 20px 20px 0px 0px;
}
#nft-cards-section > div .group .texts {
  width: 330px;
  height: 173px;
  padding: 20px 30px 25px;
  background-color: #2B2B2B;
  border-radius: 0px 0px 20px 20px;
  margin-top: -2px;
}
#nft-cards-section > div .group .texts h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
}
#nft-cards-section > div .group .texts .moon-dancer {
  display: flex;
  gap: 12px;
  margin: 5px 0 25px;
}
#nft-cards-section > div .group .texts .moon-dancer img {
  width: 24px;
  border-radius: 120px;
}
#nft-cards-section > div .group .texts .moon-dancer h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  font-family: Space Mono;
}
#nft-cards-section > div .group .texts .statistics {
  font-family: Space Mono;
}
#nft-cards-section > div .group .texts .statistics .price {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
#nft-cards-section > div .group .texts .statistics .price p {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #FFFFFF;
  color: #858584;
  font-family: Space Mono;
}
#nft-cards-section > div .group .texts .statistics .eth {
  display: flex;
  justify-content: space-between;
}
#nft-cards-section > div .group .texts .statistics .eth p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
}
#nft-cards-section > div .group .heart-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}
@media (max-width: 1280px) {
  #nft-cards-section > div .group:nth-child(7), #nft-cards-section > div .group:nth-child(8), #nft-cards-section > div .group:nth-child(9) {
    display: none;
  }
}
@media (max-width: 834px) {
  #nft-cards-section > div .group:nth-child(4), #nft-cards-section > div .group:nth-child(5), #nft-cards-section > div .group:nth-child(6) {
    display: none;
  }
  #nft-cards-section > div .group > img {
    width: 315px;
    height: 238px;
  }
  #nft-cards-section > div .group .texts {
    width: 315px;
    height: 164px;
    padding: 20px 20px 25px;
  }
  #nft-cards-section > div .group .texts .statistics .eth p {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    color: #FFFFFF;
  }
}

#favorites-section {
  background-color: #3B3B3B;
}
#favorites-section > div {
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#favorites-section > div .group {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 15px;
  margin-bottom: 20px;
}
#favorites-section > div .group:hover {
  transform: scale(1.05);
}
#favorites-section > div .group > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 330px;
  height: 296px;
  border-radius: 20px 20px 0px 0px;
}
#favorites-section > div .group .texts {
  width: 330px;
  height: 173px;
  padding: 20px 30px 25px;
  background-color: #2B2B2B;
  border-radius: 0px 0px 20px 20px;
  margin-top: -2px;
}
#favorites-section > div .group .texts h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: #FFFFFF;
}
#favorites-section > div .group .texts .moon-dancer {
  display: flex;
  gap: 12px;
  margin: 5px 0 25px;
}
#favorites-section > div .group .texts .moon-dancer img {
  width: 24px;
  border-radius: 120px;
}
#favorites-section > div .group .texts .moon-dancer h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  font-family: Space Mono;
}
#favorites-section > div .group .texts .statistics {
  font-family: Space Mono;
}
#favorites-section > div .group .texts .statistics .price {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
#favorites-section > div .group .texts .statistics .price p {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #FFFFFF;
  color: #858584;
  font-family: Space Mono;
}
#favorites-section > div .group .texts .statistics .eth {
  display: flex;
  justify-content: space-between;
}
#favorites-section > div .group .texts .statistics .eth p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
}
#favorites-section > div .group .heart-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}

#create-account-section {
  display: flex;
  align-items: center;
  gap: 60px;
}
#create-account-section > img {
  width: 50%;
  height: 691px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#create-account-section .right h2 {
  font-size: 51px;
  font-weight: 600;
  line-height: 56.1px;
  color: #FFFFFF;
}
#create-account-section .right p {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
  text-transform: capitalize;
  width: 460px;
  margin: 20px 0 40px;
}
#create-account-section .right form .input-container {
  width: 330px;
  position: relative;
  margin-bottom: 15px;
}
#create-account-section .right form .input-container input {
  width: 100%;
  padding: 10.5px 20px 10.5px 52px;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
  outline: none;
  color: #2B2B2B;
}
#create-account-section .right form .input-container input::-moz-placeholder {
  color: #2B2B2B;
}
#create-account-section .right form .input-container input::placeholder {
  color: #2B2B2B;
}
#create-account-section .right form .input-container input:focus, #create-account-section .right form .input-container input:focus:hover {
  border-color: #A259FF;
}
#create-account-section .right form .input-container:hover input {
  border-color: #A259FF;
}
#create-account-section .right form .input-container img {
  position: absolute;
  top: 14px;
  left: 20px;
}
#create-account-section .right form .input-container .error {
  color: red;
  margin-top: 5px;
}
#create-account-section .right form button {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #A259FF;
  padding: 12px 105px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #FFFFFF;
  transition: 0.5s;
}
#create-account-section .right form button:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
#create-account-section #toast-container {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.5s;
  z-index: 1;
}
#create-account-section #toast-container .toast {
  width: 310px;
  height: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  border-bottom: 5px solid #A259FF;
}
#create-account-section #toast-container .toast-success {
  color: #3B3B3B;
  background-color: #FFFFFF;
}
@media (max-width: 1280px) {
  #create-account-section {
    gap: 40px;
  }
  #create-account-section > img {
    height: 615px;
  }
  #create-account-section .right h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    color: #FFFFFF;
  }
  #create-account-section .right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
    text-transform: none;
    width: 325px;
  }
  #create-account-section .right form .input-container {
    width: 325px;
  }
  #create-account-section .right form button {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #A259FF;
    padding: 12px 102.5px;
    cursor: pointer;
    justify-content: center;
  }
}
@media (max-width: 834px) {
  #create-account-section {
    gap: 30px;
    flex-direction: column;
    padding-bottom: 40px;
  }
  #create-account-section > img {
    height: 615px;
    width: 100%;
    height: 232px;
  }
  #create-account-section .right p {
    width: 315px;
    margin: 20px 0 30px;
  }
  #create-account-section .right form .input-container {
    width: 315px;
  }
  #create-account-section .right form button {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #A259FF;
    padding: 12px 97.5px;
    cursor: pointer;
    justify-content: center;
  }
}