@mixin align-center($gap) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
}

@mixin texts($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $white-color;
}

@mixin buttons($color, $background-color, $padding) {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: $color;
    background-color: $background-color;
    padding: $padding;
    cursor: pointer;
    justify-content: center;
}

@mixin for-type($type) {
    @if $type == mobile {
        @media (max-width: 834px) {
            @content;
        }
    }
    @else if $type == tablet {
        @media (max-width: 1280px) {
            @content;
        }
    }
    @else {
        @media (min-width: 1280px) {
            @content;
        }
    }
}