#cover-section {
    img {
        width: 100%;
        height: 320px;
        object-fit: cover;
    }

    @include for-type(tablet) {
        img {
            height: 280px;
        }
    }

    @include for-type(mobile) {
        img {
            height: 250px; 
        }
    }
}

#artist-info-section {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .img {
        img {
            width: 120px;
            border: 2px solid $main-background-color;
            border-radius: 20px;
            margin-top: -60px;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }

    .animakid {
        @include space-between;
        h2 {
            @include texts(51px, 600, 56.1px);
        }

        .buttons {
            display: flex;
            gap: 20px;
            button:first-child {
                @include buttons($white-color, $call-to-action, 19px 20.5px);
                img {
                    height: 20px;
                }

                transition: 0.5s;

                &:hover {
                    background-color: #663dff;
                    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
                }
            }

            button:last-child {
                @include buttons($white-color, transparent, 19px 30px);
                border: 2px solid $call-to-action;
                img {
                    height: 20px;
                }

                &:hover {
                    border-top: 2px solid #cc4499;
                    border-bottom: 2px solid #aa00ff;
                    border-left: 2px solid #663dff;
                    border-right: 2px solid #663dff;
                }
            }
        }
    }

    .statistics {
        display: flex;
        gap: 20px;
        .number {
            width: 157px;
            h4 {
                @include texts(28px, 700, 39.2px);
                font-family: Space Mono;
            }

            h6
             {
                @include texts(22px, 400, 35.2px);
            }
        }
    }

    .text {
        p {
            @include texts(22px, 400, 35.2px);
            text-transform: capitalize;
        }
        h5 {
            @include texts(22px, 700, 35.2px);
            color: #858584;
            font-family: Space Mono;
            margin-bottom: 10px;
        }
    }

    @include for-type(tablet) {
        padding-bottom: 30px;

        .img {
            img {
                margin-bottom: 0px;
            }
        }

        .animakid {
            flex-direction: column;
            gap: 30px;
            h2 {
                @include texts(38px, 600, 45.6px);
            }

        }

        .statistics {
            .number {
                h4 {
                    @include texts(22px, 700, 35.2px);
                }
    
                h6
                 {
                    @include texts(16px, 400, 22.4px);
                }
            }
        }

        .text {
            p {
                @include texts(16px, 400, 22.4px);
                text-transform: none;
            }
            h5 {
                @include texts(16px, 400, 22.4px);
                color: #858584;
                margin-bottom: 10px;
            }
        }
    }

    @include for-type(mobile) {
        .img {
            display: flex;
            justify-content: center
        }
        .animakid {
            h2 {
                @include texts(28px, 600, 39.2px);
            }

            .buttons {
                display: flex;
                flex-direction: column;
                button:first-child {
                    @include buttons($white-color, $call-to-action, 19px 85px);
                }
    
                button:last-child {
                    @include buttons($white-color, transparent, 19px 115px);
                }
            }
        }

        .statistics {
            .number {
                width: 91px;
            }
        }
        
    }
}

#line {
    width: 100%;
    height: 1px;
    background-color: $secondary-background-color;
}

#tabs {
    display: flex;
    .tab {
        width: 50%;
        h5 {
            cursor: pointer;
            @include texts(22px, 600, 30.8px);
            text-align: center;
            padding: 14.5px 0;    
        }
    }
}

#nft-cards-section {
    background-color: $secondary-background-color;
    >div {
        padding: 80px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .group {
            position: relative;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                transform: scale(1.05);
            }
            >img {
                object-fit: cover;
                width: 330px;
                height: 296px;
                border-radius: 20px 20px 0px 0px;
            }

            .texts {
                width: 330px;
                height: 173px;
                padding: 20px 30px 25px;
                background-color: $main-background-color;
                border-radius: 0px 0px 20px 20px;
                margin-top: -2px;

                h5 {
                    @include texts (22px, 600, 30.8px);
                }

                .moon-dancer {
                    display: flex;
                    gap: 12px;
                    margin: 5px 0 25px;
                    img {
                        width: 24px;
                        border-radius: 120px;
                    }
                    
                    h6 {
                        @include texts (16px, 400, 22.4px);
                        font-family: Space Mono; 
                    }
                }

                .statistics {
                    font-family: Space Mono;
                    .price {
                        margin-bottom: 8px;
                        @include space-between;
                        p {
                            @include texts (12px, 400, 13.2px);
                            color: #858584;
                            font-family: Space Mono;
                        }
                    }

                    .eth {
                        @include space-between;
                        p {
                            @include texts (16px, 400, 22.4px); 
                        }
                    }
                }
            }

            .heart-icon {
                position: absolute;
                top:  20px;
                right: 20px;
                width: 50px;
                height: 50px;
            }
        }
    }

    @include for-type(tablet) {
        >div {
            .group:nth-child(7), .group:nth-child(8), .group:nth-child(9) {
                display: none;
            }
        }
    }

    @include for-type(mobile) {
        >div {
            .group:nth-child(4), .group:nth-child(5), .group:nth-child(6) {
                display: none;
            }

            .group {
                >img {
                    width: 315px;
                    height: 238px;
                }

                .texts {
                    width: 315px;
                    height: 164px;
                    padding: 20px 20px 25px;

                    .statistics {
                        .eth {
                            p {
                                @include texts (12px, 400, 13.2px);
                            }
                        }
                    }
                }
            }
        }
    }
}


#favorites-section {
    background-color: $secondary-background-color;
    >div {
        padding: 80px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
                .group {
                display: inline-block;
                position: relative;
                cursor: pointer;
                transition: 0.5s;
                margin-right: 15px;
                margin-bottom: 20px;
                &:hover {
                    transform: scale(1.05);
                }
                >img {
                    object-fit: cover;
                    width: 330px;
                    height: 296px;
                    border-radius: 20px 20px 0px 0px;
                }
    
                .texts {
                    width: 330px;
                    height: 173px;
                    padding: 20px 30px 25px;
                    background-color: $main-background-color;
                    border-radius: 0px 0px 20px 20px;
                    margin-top: -2px;
    
                    h5 {
                        @include texts (22px, 600, 30.8px);
                    }
    
                    .moon-dancer {
                        display: flex;
                        gap: 12px;
                        margin: 5px 0 25px;
                        img {
                            width: 24px;
                            border-radius: 120px;
                        }
                        
                        h6 {
                            @include texts (16px, 400, 22.4px);
                            font-family: Space Mono; 
                        }
                    }
    
                    .statistics {
                        font-family: Space Mono;
                        .price {
                            margin-bottom: 8px;
                            @include space-between;
                            p {
                                @include texts (12px, 400, 13.2px);
                                color: #858584;
                                font-family: Space Mono;
                            }
                        }
    
                        .eth {
                            @include space-between;
                            p {
                                @include texts (16px, 400, 22.4px); 
                            }
                        }
                    }
                }
    
                .heart-icon {
                    position: absolute;
                    top:  20px;
                    right: 20px;
                    width: 50px;
                    height: 50px;
                }
            }
    }
}