html {
    background-color: $main-background-color;
}

.container {
    width: 1050px;
    margin: auto;
}

#hero-section {
    padding: 80px 0;

    .top {
        display: flex;
        justify-content: space-between;
        .left {
            width: 510px;
    
            h2 {
                @include texts(67px, 600, 73.7px);
                margin-bottom: 20px;
            }
    
            > p {
                @include texts(22px, 400px, 35.2px)
            }
        }

        .right {
            > img {
                object-fit: cover;
                width: 510px;
                height: 401px;
                border-radius: 20px 20px 0px 0px;
            }
            > div {
                padding: 20px;
                width: 510px;
                height: 109px;
                background-color: $secondary-background-color;
                border-radius: 0px 0px 20px 20px;
                margin-top: -2px;
    
                h6 {
                    @include texts(22px, 600, 30.8px);
                    margin-bottom: 10px;
                }
    
                .animakid {
                    @include align-center(12px);
                    
                    > img {
                        width: 24px;
                        height: 24px;
                        border-radius: 120px;
                    }
    
                    > p {
                        @include texts(16px, 400, 22.4px);
                    }
                }
            }
        } 
    }

    .bottom {
        margin-top: -170px;
        button {
            @include texts(16px, 600, 22.4px);
            @include buttons($white-color, $call-to-action, 19px 50px);
            margin: 30px 0;
        }

        .statistics {
            display: flex;
            gap: 30px;
            
            div {
                width: 150px;
                height: 77px;
                h4 {
                    @include texts(28px, 700, 39.2px);
                    font-family: 'Space Mono', monospace;
                }
    
                p {
                    @include texts(23.99px, 400, 38.384px);
                }
            }
        }
    }


    @include for-type(tablet) {
        .top {
            .left {
                width: 330px;
    
                h2 {
                    @include texts(38px, 600, 45.6px);
                }
    
                > p {
                    @include texts(16px, 400px, 22.4px)
                }
            }

            .right {
                > img {
                    width: 330px;
                    height: 221px;
                }
    
                > div {
                    width: 330px;
                }
            }
        }

        .bottom {
            margin-top: -100px;
            button {
                margin: 20px 0;
            }

            .statistics {
                div {
                    width: 90px;
                    height: 57px;
                    h4 {
                        @include texts(22px, 700, 35.2px);
                    }
        
                    p {
                        @include texts(16px, 400, 22.4px);
                    }
                }
            }
        }
    }

    @include for-type(mobile) {
        padding: 40px 0;
        .top {
            flex-direction: column;
            gap: 40px;

            .left {
                width: 315px;
    
                h2 {
                    @include texts(28px, 600, 39.2px);
                    margin-bottom: 10px;
                }
            }

            .right {
                > img {
                    width: 315px;
                    height: 206px;
                }
    
                > div {
                    width: 315px;
                }
            }
        }

        .bottom {
            margin-top: 0px;
            button {
                @include buttons($white-color, $call-to-action, 19px 95.5px);
                margin: 40px 0;
            }

            .statistics {
                div {
                    width: 85px;
                }
            }
        }
    }
}

#trending-collection-section {
    padding: 80px 0;
    
    h3 {
        @include texts(38px, 600, 45.6px);
    }

    > p {
        @include texts(22px, 400, 35.2px);
        margin: 10px 0 60px;
    }

    .bottom {
        display: flex;
        gap: 30px;
        .group {
            img {
                width: 330px;
                border-radius: 20px;
            }
                
            .row {
                display: flex;
                gap: 15px;
                margin: 15px 0;
                img {
                    width: 100px;
                }
    
                .rectangle {
                    color: $white-color;
                    font-family: 'Space Mono', monospace;
                    @include texts(22px, 700, 35.2px);
                    @include justify-center;
                    background-color: $call-to-action;
                    border-radius: 20px;
                    width: 100px;
                }
            }
    
            p {
                @include texts(22px, 600, 30.8px);
            }
    
            .mrfox {
                display: flex;
                gap: 12px;
                margin-top: 10px;
                img {
                    width: 24px;
                    border-radius: 100px;
                }
    
                h6 {
                    @include texts(16px, 400, 22.4px);
                }
            }
        }

        .group:nth-child(2) > .row .rectangle:last-child {
            display: none;
        }
    }

    @include for-type(tablet) {
        padding: 40px 0;

        h3 {
            @include texts(28px, 600, 39.2px);
        }
    
        > p {
            @include texts(16px, 400, 22.4px);
            margin: 10px 0 40px;
        }

        .bottom {
            .group:last-child {
                display: none;
            }

            .group:nth-child(2) > .row .rectangle:nth-child(3) {
                display: none;
            }

            .group:nth-child(2) > .row .rectangle:last-child {
                display: initial;
                @include justify-center;
            }
        }
    }

    @include for-type(mobile) {
        .bottom {
            .group:nth-child(2) {
                display: none;
            }
            .group {
                img {
                    width: 315px;
                }              
                .row {
                    img {
                        width: 95px;
                    }
        
                    .rectangle {
                        @include texts(16px, 700, 22.4px);
                        width: 95px;
                    }
                }
        
                p {
                    @include texts(22px, 600, 30.8px);
                }
        
                .mrfox {
                    display: flex;
                    gap: 12px;
                    margin-top: 10px;
                    img {
                        width: 24px;
                        border-radius: 100px;
                    }
        
                    h6 {
                        @include texts(16px, 400, 22.4px);
                    }
                }
            }
    
            .group:nth-child(2) > .row .rectangle:last-child {
                display: none;
            }
        }
    
    }
}

#top-rated-artists-section {
    padding: 80px 0;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 60px;
        .left {
            h3 {
                @include texts (38px, 600, 45.6px);
            }

            > p {
                @include texts (22px, 400, 35.2px);
                margin-top: 10px;
            }
        }

        .right {
            @include buttons($white-color, transparent, 19px 50px);
            border: 2px solid $call-to-action;
        }
    }

    .bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .card {
            position: relative;
            width: 240px;
            height: 238px;
            background-color: $secondary-background-color;
            border-radius: 20px;
            padding: 20px;
            @include align-center(0);
            flex-direction: column;
            gap: 20px;

            > p {
                font-family: 'Space Mono', monospace;
                position: absolute;
                top: 20px;
                left: 20px;
                background-color: $main-background-color;
                @include texts (16px, 400, 22.4px);
                color: #858584;
                @include align-center(0);
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 20px;
                }

                img {
                    width: 120px;
                    border-radius: 100px;
                }
            
            .text {
                h5 {
                    @include texts (22px, 600, 30.8px);
                    text-align: center;
                    margin-bottom: 5px;
                }
    
                .sales {
                    display: flex;
                    gap: 10px;
                    p:first-child {
                        @include texts (16px, 400, 22.4px);
                        color: #858584 !important;    
                    }
    
                    p:last-child {
                        @include texts (16px, 400, 22.4px);
                        font-family: 'Space Mono', monospace;
                    }
                }
            }
        }
    }

    @include for-type(tablet) {
        padding: 40px 0;
        .top {
            margin-bottom: 40px;
            .left {
                h3 {
                    @include texts (28px, 600, 39.2px);
                }
    
                > p {
                    @include texts (16px, 400, 22.4px);
                    width: 343px;
                }
            }
        }

        .bottom {
            gap: 20px;
            .card {
                > p {
                    top: 12px;
                    left: 12px;
                }
    
                width: 330px;
                height: 100px;
                display: flex;
                flex-direction: row;

                img {
                    width: 60px;
                }

                .text {
                    h5 {
                        text-align: start;
                    }
                }
            }

            .card:nth-child(7), .card:nth-child(8), .card:nth-child(9), .card:nth-child(10), .card:nth-child(11), .card:nth-child(12) {
                display: none;
            }
        }
    }

    @include for-type(mobile) {
        padding: 40px 0;
        .top {
            .left {
                p {
                    width: 315px;
                }
            }

            .right {
                margin-bottom: -720px;
                margin-left: -350px;
                @include buttons($white-color, transparent, 19px 93px);
            }
        }

        .bottom {
            .card:nth-child(6) {
                display: none;
            }

            .card {
                width: 315px;
            }
        }
    }
}

#browse-categories-section {
    padding: 80px 0;
    h3 {
        @include texts(38px, 600, 45.6px);
        margin-bottom: 60px;
    }
    .group {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .card {
            .top {
                position: relative;
                img:first-child {
                    width: 240px;
                    border-radius: 20px 20px 0px 0px;
                }

                img:last-child {
                    width: 100px;
                    position: absolute;
                    top: 70px;
                    left: 70px;
                }
            }

            .bottom {
                width: 240px;
                height: 76px;
                padding: 20px 30px 25px;
                border-radius: 0px 0px 20px 20px;
                background-color: $secondary-background-color;
                @include texts(22px, 600, 30.8px);
                margin-top: -3px;
            }
        }
    }

    @include for-type(tablet) {
        padding: 40px 0;

        h3 {
            @include texts(28px, 600, 39.2px);
            margin-bottom: 40px;
        }

        .group {
            .card {
                .top {
                    img:first-child {
                        width: 150px;
                        height: 142px;
                    }
    
                    img:last-child {
                        width: 80px;
                        top: 31px;
                        left: 35px;
                    }
                }
    
                .bottom {
                    width: 150px;
                    height: 67px;
                    padding: 20px 20px 25px;
                    @include texts(16px, 600, 22.4px);
                    margin-top: -3px;
                }
            }
        }
    }

    @include for-type(mobile) {
        padding-top: 130px;
        .group {
            gap: 20px;
            .card {
                .top {
                    img:first-child {
                        width: 147px;
                    }
    
                    img:last-child {
                        left: 35px;
                    }
                }
    
                .bottom {
                    width: 147px;
                }
            }
        }
    }
}

#discover-more-section {
    padding: 80px 0;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 60px;
        .left {
            h3 {
                @include texts (38px, 600, 45.6px);
            }

            > p {
                @include texts (22px, 400, 35.2px);
                margin-top: 10px;
                text-transform: capitalize
            }
        }

        .right {
            @include buttons($white-color, transparent, 19px 50px);
            border: 2px solid $call-to-action;
        }
    }

    .bottom {
        display: flex;
        gap: 30px;
        .group {
            >img {
                object-fit: cover;
                width: 330px;
                height: 296px;
                border-radius: 20px 20px 0px 0px;
            }

            .texts {
                width: 330px;
                height: 173px;
                padding: 20px 30px 25px;
                background-color: $secondary-background-color;
                border-radius: 0px 0px 20px 20px;
                margin-top: -2px;

                h5 {
                    @include texts (22px, 600, 30.8px);
                }

                .moon-dancer {
                    display: flex;
                    gap: 12px;
                    margin: 5px 0 25px;
                    img {
                        width: 24px;
                        border-radius: 120px;
                    }
                    
                    h6 {
                        @include texts (16px, 400, 22.4px);
                        font-family: Space Mono; 
                    }
                }

                .statistics {
                    font-family: Space Mono;
                    .price {
                        margin-bottom: 8px;
                        @include space-between;
                        p {
                            @include texts (12px, 400, 13.2px);
                            color: #858584;
                        }
                    }

                    .eth {
                        @include space-between;
                        p {
                            @include texts (16px, 400, 22.4px); 
                        }
                    }
                }
            }
        }
    }

    @include for-type(tablet) {
        padding: 40px 0 80px;

        .top {
            margin-bottom: 40px;
            .left {
                h3 {
                    @include texts (28px, 600, 39.2px);
                }
    
                > p {
                    @include texts (16px, 400, 22.4px);
                    text-transform:none
                }
            }
        }

        .bottom {
            gap: 20px;
            .group {
                >img {
                    height: 295px;
                }
            }

            .group:last-child {
                display: none;
            }
        }
    }

    @include for-type(mobile) {
        padding: 40px 0 60px;

        .top {
            .right {
                margin-bottom: -1390px;
                margin-left: -350px;
                @include buttons($white-color, transparent, 19px 114px);
            }
        }

        .bottom {
            flex-direction: column;
            .group {
                >img {
                    width: 315px;
                    height: 238px;
                }

                .texts {
                    width: 315px;
                    height: 164px;
                    padding: 20px 20px 25px;

                    .statistics {
                        .eth {
                            p {
                                @include texts (12px, 400, 13.2px);
                            }
                        }
                    }
                }
            }

            .group:last-child {
                display: initial;
            }
        }
    }
}

#nft-info-section {
    position: relative;
    img {
        width: 100%;
        height: 640px;
        object-fit: cover;
    }

    .content {
        position: absolute;
        bottom: 60px;
        left: 115px;
        button:first-child {
            @include texts(16px, 400, 22.4px);
            @include buttons($white-color, $main-background-color, 10px 20px);
            img {
                height: 24px;
                border-radius: 120px;
            }
        }

        h2 {
            @include texts(51px, 600, 56.1px);
            margin: 30px 0;
        }

        button:last-child {
            @include texts(16px, 600, 22.4px);
            @include buttons($main-background-color, $white-color, 22px 50px);
            img {
                height: 20px;
                width: 20px;
            }
        }
    }

    @include for-type(tablet) {
        img {
            height: 630px;
        }

        .content {
            left: 82px;
            h2 {
                @include texts(38px, 600, 45.6px);
            }
        }
    }

    @include for-type(mobile) {
        padding-top: 105px;
        img {
            height: 593px;
        }

        .content {
            bottom: 40px;
            left: 30px;
            h2 {
                width: 315px;
            }

            button:last-child {
                @include buttons($main-background-color, $white-color, 19px 108.5px);
            }
        }
    }
}










@include for-type(tablet) {
    .container {
        width: 690px;
    }
}

@include for-type(mobile) {
    .container {
        width: 315px;
    }
}