footer {
    padding: 40px 0;
    background-color: $secondary-background-color;
    border-top: 2px solid $main-background-color;
    
    .top {
        display: flex;
        justify-content: space-between;
        width: 988px;
        margin: auto;
        .group {
            .logo img{
                margin-bottom: 25px;
            }
            p {
                @include texts(16px, 400, 22.4px);
                color: #CCCCCC;
                margin-bottom: 20px;
            }

            .a-tags {
                display: flex;
                flex-direction: column;
                gap: 20px;

                a {
                    @include texts(16px, 400, 22.4px);
                    color: #CCCCCC;
                }
            }

            h5 {
                @include texts(22px, 700, 35.2px);
                font-family: Space Mono;
                margin-bottom: 25px;
            }

            .input-button {
                display: inline-block;
                position: relative;

                input {
                    width: 420px;
                    height: 60px;
                    padding: 19px 191px 19px 20px;
                    border-radius: 20px;
                    outline: none;

                    &::placeholder {
                        @include texts(16px, 400, 22.4px);
                        color: $main-background-color;
                    }
                }

                button {
                    @include buttons($white-color, $call-to-action, 19px 50px);
                    position: absolute;
                    right: 0;
                    top: 0;
                    @include texts(16px, 600, 22.4px); 
                    transition: 0.5s;

                    img {
                        display: none;
                    }

                    &:hover {
                        background-color: #663dff;
                        background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
                    }
                }
            }
        }
    }

    .bottom {
        margin: auto;
        width: 1050px;
        div {
            height: 1px;
            background-color: #858584;
            margin: 30px 0 20px;
        }

        p {
            @include texts(12px, 400, 13.2px);
            color: #CCCCCC;
        }
    }

    @include for-type(tablet) {
        border-top: none;
        .top {
            width: 690px;
            flex-direction: column;
            gap: 30px;
            .group {
                .logo img{
                    margin-bottom: 25px;
                }
                p {
                    width: 690px !important;
                }
    
                h5 {
                    margin-bottom: 20px;
                }
            }
        }

        .bottom {
            width: 690px;
            div {
                margin: 49px 0 20px;
            }
        }
    }

    @include for-type(mobile) {
        .top {
            width: 315px;

            .group {
                p {
                    width: 315px !important;
                }

                .input-button {

                    input {
                        width: 315px;
                        height: 46px;
                        padding: 12px 20px;

                        &::placeholder {
                            text-transform: capitalize;
                        }

                        margin-bottom: 16px;
                    }
    
                    button {
                        @include buttons($white-color, $call-to-action, 12px 102px);
                        position:static;
                        img {
                            display: initial;
                        }
                    }
                }
            }
        }

        .bottom {
            width: 315px;
            div {
                margin: 30px 0 20px;
            }
        }
    }


    .toast-container {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .toast-success {
        background-color: $white-color;
        border-bottom: 5px solid #2ecc71;
        @include texts(20px, 400, 35.2px);
        color: $main-background-color;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        padding: 10px 15px;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .toast-error {
        background-color: $white-color;
        border-bottom: 5px solid #e74c3c;
        @include texts(20px, 400, 35.2px);
        color: $main-background-color;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        padding: 10px 15px;
        border-radius: 15px;
        margin-bottom: 10px;
    }
}