header {
    width: 1280px;
    margin: auto;
    padding: 20px 50px;
    @include align-center(0);
    justify-content: space-between;

    .right {
        @include align-center(10px);
        a {
            @include texts(16px, 600, 22.4px);
            padding: 0 20px;
        }

        .sign-up {
            @include buttons($white-color, $call-to-action, 19px 30px);
            @include texts(16px, 600, 22.4px);
        }
    }

    .burger-btn {
        display: none;
    }


    @include for-type(tablet) {
        width: 834px;
        padding: 15px 50px;
        .left {
            a {
                img {
                    width: 182px;
                    height: 24px;
                }
            }
        }

         .right {
            display: none;
         }

         .burger-btn {
            display: initial;
         }
    }

    @include for-type(mobile) {
        width: 375px;
        padding: 15px 30px;
    }
}